<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<th:block th:insert="Fragments/head :: head"></th:block>
</head>
<body>
	<div class="container">
		<div th:insert="Fragments/BodyHeader :: div"></div>



		<h3>Consulta</h3>
		<form th:object="${DATA_SucursalesDtoFormulari}" method="get"
			th:action="@{/getAll}">

			<input type="hidden" th:field="*{pk_SucursalID}">

			<div class="form-group">

				<label class="cloud-label">nomSucursal</label> <input type="text"
					th:field="*{nomSucursal}" disabled> <br> <label
					class="cloud-label">paisSucursal</label> <input type="text"
					th:field="*{paisSucursal}" disabled> <br>
			</div>
			<button type="submit" class="btn btn-outline-dark">Tornar</button>

		</form>



	</div>

</body>
</html>