<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"> </header>

	<div class="container">
	
		<h3>Consulta</h3>
		<form th:action="@{/sucursal/getOne/ + ${suc.pk_SucursalID}}" method="get">

			<input type="hidden" th:field="*{pk_SucursalID}">

			<div class="form-group">

				<label class="cloud-label">nomSucursal</label> <input type="text"
					th:field="*{nomSucursal}" disabled> <br> <label
					class="cloud-label">paisSucursal</label> <input type="text"
					th:field="*{paisSucursal}" disabled> <br>
			</div>
			<button type="submit" class="btn btn-outline-dark">Tornar</button>

		</form>



	</div>

</body>
</html>