<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"> </header>

	<div class="container">
	
		<div class="card bg-light">
		<div class="card-header" th:text="${titulo}"></div>
		<div class="card-body">
		
		<h3>EDITAR SUCURSAL</h3>
		<form th:action="@{/sucursal/saveUpdate}" th:object="${sucursal}" method="post">		

			<div class="form-group row">
				<label  class="col-md-2" for="ID Sucursal">ID Sucursal:</label> 
				<input type="text" th:field="*{pk_SucursalID}" class="form-control form-control-sm col-md-6"
					id="pk_SucursalID" placeholder="pk_SucursalID">					
			</div>
			
			<input type="hidden" th:field="*{pk_SucursalID}">
			<div class="form-group row">
				<label  class="col-md-2" for="nomSucursal">Nombre Sucursal:</label> 
				<input type="text" th:field="*{nomSucursal}" class="form-control form-control-sm col-md-6"
					id="nomSucursal" placeholder="NomSucursal">					
			</div>
			
			<div class="form-group row">
				<label  class="col-md-2" for="paisSucursal">Pais Sucursal:</label> 
				<input type="text" th:field="*{paisSucursal}" class="form-control form-control-sm col-md-6"
					id="paisSucursal" placeholder="paisSucursal">					
			</div>
			
			<button type="submit" class="btn btn-outline-success">Guardar</button>

		</form>
		
		</div>
		</div>

	</div>

</body>
</html>